body{
  background-color: rgba(128, 128, 128, 0.174);
}

button {
  position: absolute;
}

.pai{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
}

.esquerda {
  top: 500px;
  left: 400px;
}

.direita {
  top: 500px;
  left:  1470px;
}

button{
  border: none;
  background-color: transparent;
}

button:hover{
  scale: 1.1;
  opacity: 90%;
}

#imagem-carrossel{
  width: 900px;
  height: auto;
  border: solid rgba(0, 0, 0, 0.259);
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

#imagem-carrossel:hover{
  scale: 1.1;
}